[phases.setup]
nixPkgs = ["python310", "python310Packages.pip"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[start]
cmd = "gunicorn wsgi:app --bind 0.0.0.0:$PORT --workers 1 --timeout 120"
